<h1>Law Textbooks for Sale</h1>
<%= LawTextbooksForSale.all.inspect %>

<ul>
<% for book in LawTextbooksForSale.all %>
  <li>
    <%= book.name %>
  </li>
<% end %>
</ul

<p>To modify this page, edit the template at <code>app/views/law_textbooks_for_sales/index.html.erb</p>

>

