<ul>
<% for textbook in Textbook.all %>
  <li>
    <%= textbook.name %>
  </li>
  
  <li>
  $<%= textbook.price %> obo
  </li>
  
   <li>
      <img width="350"
    src="<%= textbook.photo_url %>">
  </li>
  <br>
  <br>
<% end %>
</ul>
